<app-page titulo="Mi perfil">

  <main class="col-10">

    <div class="card mb-3">
      <div class="card-header">
        <figure class="icontext">
          <div class="icon">
            <img class="rounded-circle img-sm border" src="{{item?.avatar}}">
          </div>
          <div class="text">
            <strong> {{item?.nick}} </strong> <br>
          </div>
        </figure>
        <a class="btn btn-info my-2 float-end" [routerLink]="['/auth/settings']"
          routerLinkActive="router-link-active">Editar</a>
      </div>

      <div class="card-body">
        <dl class="row my-4 py-2">
          <dt class="col-sm-3 ">Nombre: </dt>
          <dd class="col-sm-9">{{item?.name}} {{item?.surnames}}</dd>

          <dt class="col-sm-3 ">Email: </dt>
          <dd class="col-sm-9">{{item?.email}}</dd>

          <dt class="col-sm-3 ">DNI: </dt>
          <dd class="col-sm-9">{{item?.dni}}</dd>

          <dt class="col-sm-3 ">Saldo: </dt>
          <dd class="col-sm-9">{{item?.wallet.amount}} cdts</dd>
        </dl>

        <div class="card-group">
          <figure class="card bg">
            <div class="p-3">
              <h5 class="card-title">{{item?.products.length}}</h5>
              <span>Productos</span>
            </div>
          </figure>
          <figure class="card bg">
            <div class="p-3">
              <h5 class="card-title">{{item?.votes.length}}</h5>
              <span>Votos</span>
            </div>
          </figure>
          <figure class="card bg">
            <div class="p-3">
              <h5 class="card-title">{{item?.average}}/10</h5>
              <span>Valoracion</span>
            </div>
          </figure>
          <figure class="card bg">
            <div class="p-3">
              <h5 class="card-title">{{item?.shoppings.count}}</h5>
              <span>Compras</span>
            </div>
          </figure>
          <figure class="card bg">
            <div class="p-3">
              <h5 class="card-title">{{item?.sales.count}}</h5>
              <span>Ventas</span>
            </div>
          </figure>
        </div>


      </div> <!-- card-body .// -->


    </div> <!-- card.// -->

    <div class="card  mb-3">
      <div class="card-body">
        <h5 class="card-title mb-4">Mis productos </h5>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

          <app-product-card *ngFor="let prod of item?.products" [product]=prod></app-product-card>
        </div>

        <a [routerLink]="['/products/manage']" routerLinkActive="router-link-active"
          class="btn btn-outline-primary m-3"> Gestionar productos </a>
      </div> <!-- card-body .// -->
    </div> <!-- card.// -->


    <!-- <app-reviews-list></app-reviews-list> -->

  </main> <!-- col.// -->


</app-page>
<!-- </div> container .//  -->
<!-- </div> -->
