<header>
  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->

      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" [routerLink]="['']" routerLinkActive="router-link-active" >
          <img src="assets/img/logo1.png" height="40" />
        </a>
      </div>
      <!-- Left elements -->

      <div class="collapse navbar-collapse show" id="navbarBasic">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="usuario?.is_admin" [routerLink]="['/conditions']" routerLinkActive="router-link-active" >Estado de productos</a>
          </li>
        </ul>
      </div>

      <!-- Search form -->
      <!-- <form class="input-group w-auto my-auto d-none d-sm-flex">
        <input type="text" class="form-control rounded" placeholder="Buscar" />
        <button class="btn btn-primary input-group-append" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form> -->

      <!-- Loged user -->
      <ul class="navbar-nav flex-row" *ngIf="usuario">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-sm-flex align-items-sm-center icontext" id="dropdownuser" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src={{usuario.avatar}} class="icon icon-xs rounded-circle">
            <strong class="d-none d-sm-block ms-1">{{usuario.nick}}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end bg-accent2" aria-labelledby="dropdownuser">
            <li><a class="dropdown-item" [routerLink]="['/auth/profile']" routerLinkActive="router-link-active">Perfil</a>
            </li>
            <li><a class="dropdown-item" [routerLink]="['/products/manage']" routerLinkActive="router-link-active">Mis
                productos</a></li>
            <li>
            <li><a class="dropdown-item" [routerLink]="['/transactions']" routerLinkActive="router-link-active">Mis
                compras</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()" [routerLink]="['/']" routerLinkActive="router-link-active">Cerrar
                sesión</a></li>
          </ul>
        </li>
      </ul>
      <!-- Loged user -->

      <!-- guest user -->
      <ul class="navbar-nav flex-row" *ngIf="!usuario">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-sm-flex align-items-sm-center" id="dropdownGuest" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle"></i>
            <strong class="d-none d-sm-block ms-1">Invitado</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end bg-accent2" aria-labelledby="dropdownGuest">
            <li><a class="dropdown-item" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Iniciar
                sesión</a></li>
            <li><a class="dropdown-item" [routerLink]="['/auth/register']"
                routerLinkActive="router-link-active">Registrarse</a></li>
          </ul>
        </li>
      </ul>
      <!-- guest user -->
    </div>
  </nav>
  <!-- Navbar -->
</header>
