<div class="card h-100 shadow-sm">
  <div class="card-header d-flex justify-content-between" [style.background-image]="makeTrustedImage(product?.image)">
    <div class="top-left shadow-sm" [ngStyle]="{'background-color': product?.condition.colour}"
      title="{{product?.condition['description']}}">{{product?.condition['name']}}</div>

    <app-price-tag class="float-end top-right text-bold">{{product?.price}}</app-price-tag>

    <!-- <div class="align-self-end">
      <app-tag-badge *ngFor="let badge of product?.tags" [tag]=badge></app-tag-badge>
    </div> -->
  </div>
  <div class="card-body">
    <h5 class="text-bold">{{product?.title}}</h5>

    <p class="text-muted">{{product?.description}}</p>
  </div>

  <div *ngIf="loged==product?.owner['id']">
    <div class="text-center my-4"> <a [routerLink]="['/products/manage']" routerLinkActive="router-link-active"  class="btn btn-info">Gestionar</a> </div>
  </div>

  <div *ngIf="product&&loged!=product?.owner.id">
    <div class="text-center my-4"> <a (click)="comprar(product.id)" class="btn btn-warning">Comprar</a> </div>
  </div>

  <div class="card-footer">

    <div class="mb-1 rating-wrap">
      <img class="icon icon-xs rounded-circle" src="{{product?.owner.avatar}}">
      <span class="small">{{product?.owner['nick']}}</span>

      <!-- TODO: rating component shared -->
      <ul *ngIf="product?.owner['votes']['average']" class="rating-stars float-end" title="{{product?.owner['votes']['average']}}/10">
        <li [ngStyle]="{width: average(product?.owner['votes']['average'])+'%'}" class="stars-active">
          <img src="/assets/img/stars-active.svg" alt="">
        </li>
        <li>
          <img src="/assets/img/starts-disable.svg" alt="">
        </li>
      </ul>
      <!-- Rating -->

    </div>
  </div>
</div>
