<app-spinner></app-spinner>
<app-page titulo="Etiquetas de productos">
  <div class="card">
    <form class="card-body" [formGroup]="tag" (ngSubmit)="set(tag.value)">

      <input type="hidden" name="id" formControlName="id" >

      <div class="row d-flex justify-content-between">
        <!-- Name -->
        <div class="col-8 form-group mb-3 form-floating">
          <input class="form-control text-center" type="text" formControlName="name"
            [ngClass]="{ 'is-invalid': form['name'].errors&&form['name'].dirty}">
          <label>Nombre</label>
          <div *ngIf="form['name'].errors" class="invalid-tooltip">
            <div *ngIf="form['name'].errors['required']">Nombre requerido</div>
            <div *ngIf="form['name'].errors['maxlength']">El nombre es de maximo
              {{form['name'].errors['maxlength'].requiredLength}} caracteres</div>
          </div>
        </div>

        <!-- Colour -->
        <div class="col-4 form-group mb-3 form-floating">
          <input type="color" class="form-control form-control-color" formControlName="colour"
            [ngClass]="{ 'is-invalid': form['colour'].errors&&form['colour'].dirty}">
          <label>Color</label>
          <div *ngIf="form['colour'].errors" class="invalid-tooltip">
            <div *ngIf="form['colour'].errors['required']">Color requerido</div>
            <div *ngIf="form['colour'].errors['pattern']">Color no valido</div>
          </div>
        </div>
      </div>

      <!-- Submit -->
      <div class="d-flex justify-content-around">
        <button type="submit" [disabled]="tag.invalid" class="btn btn-success col-5"> Guardar </button>
        <button type="reset" (click)="reset()" class="btn btn-warning col-5"> Cancelar </button>
      </div>


    </form>
    <div class="card-footer p-0">
      <table class="table table-striped table-hover m-0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Color Hex</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tgs of list" >
            <td (click)="get(tgs.id)" [ngStyle]="{'background-color': tgs.colour}" >{{tgs.name}}</td>
            <td (click)="get(tgs.id)" [ngStyle]="{'background-color': tgs.colour}" >{{tgs.colour}}</td>
            <td>
              <a title="Borrar" (click)="get(tgs.id)">
                <i class="mx-2 fa fa-pen text-primary"></i>
              </a>
              <a title="Borrar" (click)="drop(tgs.id)">
                <i class="mx-2 fa fa-trash text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
