<div class="container ">

  <!-- Card -->
  <!-- <div class="card col-auto p-0 rounded-3 bg-dark text-white"> -->

  <app-spinner></app-spinner>

  <!-- Body -->
  <!-- <div class="card-body p-3 ">
      <h4 class="card-title text-center mb-4">Registrar</h4> -->
  <app-card-form title="Registro" class="row">


    <form [formGroup]="user" (ngSubmit)="set(user.value)">
      <!-- Cambiar login parametros ??-->

      <div class="row">
        <!-- Name -->
        <div class="col-6 form-group mb-3">
          <label>Nombre</label>
          <input class="form-control text-center" value="{{item.name}}" type="text" formControlName="name"
            [ngClass]="{ 'is-invalid': form['name'].errors&&form['name'].dirty}">
          <div *ngIf="form['name'].errors" class="invalid-feedback">
            <div *ngIf="form['name'].errors['required']">Nombre requerido</div>
            <div *ngIf="form['name'].errors['name']">Nombre no valido</div>
          </div>
        </div>

        <!-- Surname -->
        <div class="col-6 form-group mb-3">
          <label>Apellidos</label>
          <input class="form-control text-center" value="{{item.surnames}}" type="text" formControlName="surnames"
            [ngClass]="{ 'is-invalid': form['surnames'].errors&&form['surnames'].dirty}">
          <div *ngIf="form['surnames'].errors" class="invalid-feedback">
            <div *ngIf="form['surnames'].errors['required']">Apellidos requerido</div>
            <div *ngIf="form['surnames'].errors['surnames']">Apellidos no valido</div>
          </div>
        </div>

      </div>

      <div class="row">
        <!-- Nick -->
        <div class="col-6 form-group mb-3">
          <label>Nick</label>
          <input class="form-control text-center" value="{{item.nick}}" type="text" formControlName="nick"
            [ngClass]="{ 'is-invalid': form['nick'].errors&&form['nick'].dirty}">
          <div *ngIf="form['nick'].errors" class="invalid-feedback">
            <div *ngIf="form['nick'].errors['required']">Nick requerido</div>
            <div *ngIf="form['nick'].errors['minlength']">El nick es de minimo
              {{form['nick'].errors['minlength'].requiredLength}} caracteres</div>
          </div>
        </div>

        <!-- DNI -->
        <div class="col-6 form-group mb-3">
          <label>DNI</label>
          <input class="form-control text-center" value="{{item.dni}}" type="text" formControlName="dni"
            [ngClass]="{ 'is-invalid': form['dni'].errors&&form['dni'].dirty}">
          <div *ngIf="form['dni'].errors" class="invalid-feedback">
            <div *ngIf="form['dni'].errors['required']">DNI requerido</div>
            <div *ngIf="form['dni'].errors['dni']">DNI no valido</div>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group mb-3">
        <label>Email</label>
        <input class="form-control text-center" value="{{item.email}}" type="email" formControlName="email"
          [ngClass]="{ 'is-invalid': form['email'].errors&&form['email'].dirty}">
        <div *ngIf="form['email'].errors" class="invalid-feedback">
          <div *ngIf="form['email'].errors['required']">email requerido</div>
          <div *ngIf="form['email'].errors['email']">email no valido</div>
        </div>
      </div>

      <div class="row">

        <!-- Contraseña -->
        <div class="col-6 form-group mb-3">
          <label>Contraseña</label>
          <input class="form-control text-center" placeholder="******" type="password" formControlName="password"
            [ngClass]="{ 'is-invalid': form['password'].errors&&form['password'].dirty}">
          <div *ngIf="form['password'].errors" class="invalid-feedback">
            <div *ngIf="form['password'].errors['required']">Contraseña requerida</div>
            <div *ngIf="form['password'].errors['minlength']">La contraseña es de minimo
              {{form['password'].errors['minlength'].requiredLength}} caracteres</div>
          </div>
        </div>

        <!-- Confirmar contraseña -->
        <div class="col-6 form-group mb-3">
          <label>Confirmar Contraseña</label>
          <input class="form-control text-center" placeholder="******" type="password"
            formControlName="password_confirmation"
            [ngClass]="{ 'is-invalid': form['password_confirmation'].errors&&form['password_confirmation'].dirty}">
          <div *ngIf="form['password_confirmation'].errors" class="invalid-feedback">
            <div *ngIf="form['password_confirmation'].errors['required']">Contraseña requerida</div>
            <div *ngIf="form['password_confirmation'].errors['minlength']">La contraseña es de minimo
              {{form['password_confirmation'].errors['minlength'].requiredLength}} caracteres</div>
          </div>
        </div>
      </div>

      <!-- Submit -->
      <div class="form-group d-grid gap-2">
        <button type="submit" [disabled]="user.invalid" class="btn btn-primary btn-block"> Guardar </button>
      </div>
    </form>
    <!-- </div> -->
  </app-card-form>
</div>
