<!-- Footer -->
<footer class="container-fluid text-white bg-dark p-4">
  <!-- Grid container -->
  <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-between">


    <!-- Links pagina -->
    <!-- <ul class="col align-self-center list-unstyled">
      <h6 class="text-uppercase mb-4 font-weight-bold">
        Useful links
      </h6>
      <li>
        <a class="text-white">Your Account</a>
      </li>
      <li>
        <a class="text-white">Shipping Rates</a>
      </li>
    </ul> -->
    <!-- Links pagina -->

    <!-- Info logo -->
    <div class="col">
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="">
        <img src="assets/img/logo1.png" height="50" />
      </a>
      <p>
        Web creada para la compra-venta de videojuegos y consolas entre usuarios. <br>
        Pagina web en estado Alpha
      </p>
    </div>
    <!-- Info Logo -->



    <div class="col">
      <!-- Copyright -->
      <div class="col text-center">
        <div class="p-3">
          © 2021 Copyright:
          <a class="text-white" href="">Games4all.es</a>
        </div>
      </div>
      <!-- Copyright -->
      <!-- Social Media -->
      <ul class="col text-center text-md-center list-inline">
        <a class="list-inline-item btn btn-outline-light" href="https://twitter.com/JFlorido94"><i
            class="fab fa-twitter"></i></a>
        <a class="list-inline-item btn btn-outline-light" href="https://instagram.com/JFlorido94"><i class="fab fa-instagram"></i></a>
        <a class="list-inline-item btn btn-outline-light" href="https://www.linkedin.com/in/javier-florido-pav%C3%B3n-37557320a/"><i class="fab fa-linkedin-in"></i></a>
      </ul>
      <!-- Social Media -->

    </div>
  </div>
</footer>
<!-- Footer -->
